{% extends "base.html" %}
{% block title %}
<title>글 목록</title>
{% endblock title %}
{% block content %}
    <h1>역대 운동 기록</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">날짜</th>
          </tr>
        </thead>
        <tbody>
        {% for article in article_list %} 
          <tr>
            <td>{{ article.id }}</a></td>
            <td><a href="/view_detail/{{ article.id }}">{{ article.title }}</a></td>
            <td>{{ article.name }} </td>
            <td>{{ article.cdate }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-warning"><a href="/write">글쓰기</a></button>
{% endblock content %}