<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>id</td>
            <td>{{ article_detail }}</td>
        </tr>
        <tr>
            <td>제목</td>
            <td>{{ article_detail.title }}</td>
        </tr>
        <tr>
            <td>저자</td>
            <td>{{ article_detail.name }}</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>{{ article_detail.contents }}</td>
        </tr>
        <tr>
            <td>url</td>
            <td>{{ article_detail.url }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ article_detail.email }}</td>
        </tr>
        <tr>
            <td>cdate</td>
            <td>{{ article_detail.cdate }}</td>
        </tr>

    </table>
</body>
</html>