{% extends "base.html" %}
{% block title %}
<title> {{article_detail.id}} 상세내용</title>
{% endblock title %}
{% block content %}
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <td>{{article_detail.name}}</td>
          </tr>
          <tr>
              <th scope="col">제목</th>
              <td>{{article_detail.title}}</td>
          </tr>
          <tr>
            <th scope="col">내용</th>
            <td>{{article_detail.content}}</td>
          </tr>
          <tr>
            <th scope="col">url</th>
            <td>{{article_detail.url}}</td>
          </tr>
          <tr>
            <th scope="col">email</th>
            <td>{{article_detail.email}}</td>
          </tr>
          <tr>
            <th scope="col">cdate</th>
            <td>{{article_detail.cdate}}</td>
          </tr>
        </thead>
        <tbody>
    </table>
{% endblock content %}
