{% extends "Base.html" %}

{% block content %}       
        <h1>고통은 고스란히 선이 되어 남는다.</h1>
        <div class="row">
            <div class="col">
            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for article in latest_article_list %} 
                      <tr>
                        <td><a href="/view_detail/{{ article.id }}">{{ article.title }}</a></td>
                        <td>{{ article.name }} </td>
                        <td>{{article.cdate|date:"Y년 M d 일 D"}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
            </table>
            </div>
            <div class="col">
            2 of 2
            </div>
        </div>

        </ul>
{% endblock content %}
